@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@font-face {
  font-family: "Spotify";
  src: local("Spotify"), url(./fonts/Heebo-Regular.ttf) format("TrueType");
}

.spotify-regular {
  font-family: "Spotify";
}

.App {
  background-color: black;
  overflow: hidden;
}

.visualizer input {
  -webkit-appearance: none;
  background: none;
  outline: none;
  opacity: 1;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.visualizer-controls {
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 5px;
}
