@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@font-face {
  font-family: "Spotify";
  src: local("Spotify"), url(./fonts/Heebo-Regular.ttf) format("TrueType");
}

.spotify-regular {
  font-family: "Spotify";
}

.App {
  background-color: black;
  overflow: hidden;
}

.visualizer input {
  -webkit-appearance: none;
  background: none;
  outline: none;
  opacity: 1;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.visualizer-controls {
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 5px;
}

.navigation-icon {
  position: absolute;
  top: 5.5%;
  right: 3vh;
  width: 5vh;
  height: 5vh;
  animation: boxRotate 4s infinite;
  opacity: 0.8;
}

.navigation-icon-container {
  position: absolute;
  top: 15%;
  right: 1.5vh;
  width: 8vh;
  height: 30%;
  justify-content: space-around;
}

.navigation-icon-container img {
  position: relative;
  margin: auto;
  padding: 5px;
  width: 5vh;
  height: 5vh;
  animation: boxTurn 9s infinite;
  opacity: 0.8;
}

@keyframes boxTurn {
  33% {
    transform: rotate(45deg);
  }
  66% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes boxRotate {
  50% {
    transform: rotate(180deg);
  }
}
